.resume-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  width: 13rem;
  padding: 0.8rem 1.6rem;
  background-color: rgb(248, 250, 252);
  border-bottom-color: rgb(15, 23, 42);
  border-radius: 0.6rem;
  border-bottom-width: 0.2rem;

  line-height: 2.4rem;
  cursor: pointer;
  background-image: linear-gradient(to top, #ff9900);
  transition: background-size 0.5s ease;
  background-repeat: no-repeat;
  background-size: 100% 0%;
  background-position: bottom;
}

.resume-button:hover {
  background-size: 100% 100%;
}

.resume-button_link {
  font-family: "Urbanist";
  color: rgb(30, 41, 59);
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
