.burger-menu {
  position: sticky;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 3.6rem;
  background-color: white;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
}

.hamburger-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 4rem;
  height: 2.4rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1001;
  transition: transform 0.3s ease;
}

.hamburger-line {
  display: block;
  width: 100%;
  height: 0.4rem;
  background-color: black;
  border-radius: 0.2rem;
  transition: 
    transform 0.3s ease,
    opacity 0.3s ease,
    top 0.3s ease,
    bottom 0.3s ease;
}

.hamburger-line.top {
  position: relative;
  top: 0;
}

.hamburger-line.middle {
  opacity: 1;
}

.hamburger-line.bottom {
  position: relative;
  bottom: 0;
}

.hamburger-button.active .hamburger-line.top {
  transform: translateY(0px) rotate(45deg);
}

.hamburger-button.active .hamburger-line.middle {
  opacity: 0;
}

.hamburger-button.active .hamburger-line.bottom {
  transform: translateY(-10px) rotate(-45deg);
}

.menu-overlay {
  position: fixed;
  top: 0;
  right: -88.5rem;
  width: 88.5rem;
  height: 100vh;
  padding-top: 9rem;
  background-color: white;
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  pointer-events: none;
}

.menu-overlay.active {
  right: 0;
  pointer-events: auto;
}

.menu-item{
position: relative;
z-index: 1;
}
.menu-item.active-tab::before{
  content: '';
  position: absolute;
  bottom:0;
  left: 0;
  width: 100%;
  height: 2.5rem;
  background-color: yellow;
  border-radius: 1rem;
  z-index: -1;
}

.menu-items {
  list-style: none;
  padding: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.menu-items li {
  margin-bottom: 3rem;
}

.menu-items a {
  color: rgb(15, 23, 42);
  text-decoration: none;
  font-size: 6rem;
  font-weight: 600;
  transition: color 0.3s;
  padding: 2rem;
  font-family: Urbanist;
}

.fio-mobile{
   color: rgb(15 23 42);
  font-weight: 800;
  font-family: "Urbanist";
  font-size: 3.5rem;
  line-height: 1.75rem;
  margin-right: auto;
}