.burger-menu {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 3.6rem;
  background-color: white;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
}

.hamburger-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 4rem;
  height: 2.4rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.hamburger-line {
  display: block;
  width: 100%;
  height: 0.4rem;
  background-color: black;
  border-radius: 0.2rem;
}

.menu-overlay {
  position: fixed;
  top: 0;
  right: -88.5rem;
  width: 88.5rem;
  height: 100vh;
  background-color: white;
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  pointer-events: none;
  border: 0.1rem solid black;
}

.menu-overlay.active {
  right: 0;
  pointer-events: auto;
}

.menu-items {
  list-style: none;
  padding: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.menu-items li {
  margin-bottom: 3rem;
}

.menu-items a {
  color: black;
  text-decoration: none;
  font-size: 4.5rem;
  transition: color 0.3s;
  padding: 2rem;
}
