.page {
  min-width: 100%;
  min-height: 100vh;
  font-size: 2rem;
}
@media only screen and (max-width: 475px) {
  .page {
    min-height: auto;
    padding-top: 7rem;
  }
}
.home {
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: min-content min-content;
}
