.paragraph {
  font-family: "Urbanist";
  text-wrap: pretty;
  color: rgb(203, 213, 225);
  font-size: 2.5rem;
  line-height: 3.6rem;
}

@media only screen and (max-width: 475px) {
  .paragraph {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }
}
