.hover-area {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 15rem;
  background: transparent;
  border-top: 0.2rem solid white;
  border-bottom: 0.2rem solid white;
  display: flex;
  align-items: center;
  font-size: 3.2rem;
  cursor: default;
  padding-left: 1.5rem;
  padding-right: 4.5rem;
  font-family: "Urbanist";
}
@media only screen and (max-width: 475px) {
  .hover-area {
    padding-bottom: 3rem;
  }
}

.follow-image {
  position: absolute;
  width: 60rem;
  height: 32rem;
  object-fit: contain;
  border-radius: 0.8rem;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: -1000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.hover-area_link {
  position: relative;
  color: rgb(229, 231, 235);
  text-decoration: none;
}
.hover-area_link-arrow {
  position: absolute;
  top: 0.5rem;
  right: -3.5rem;
}

.hover-area_link:hover {
  color: #ff9900;
}
.hover-area_span {
  position: relative;
}
.hover-area_span::before {
  content: "Ts  React";
  font-size: 2.8rem;
  color: #ff9900;
  position: absolute;
  bottom: -3.5rem;
  left: 0;
  font-family: "Urbanist";
}
