.skills {
  list-style: none;
  font-size: 2rem;
  font-family: "Urbanist";
  padding-left: 0.9rem;
}

.skills-item {
  position: relative;
  margin-bottom: 0.8rem;
}
@media only screen and (max-width: 475px) {
  .skills {
    font-size: 3.5rem;
    padding-left: 2.5rem;
  }
}
